config = {

    # AWS credentials for the IAM user (alternatively can be set up as environment variables)
    'aws_access_key': 'xxxxxxxx',
    'aws_secret_key': 'xxxxxxxxxxxx',

    # EC2 info about your server's region
    'ec2_region_name': 'eu-west-1',
    'ec2_region_endpoint': 'ec2.eu-west-1.amazonaws.com',

    # Tag of the EBS volume you want to take the snapshots of
    'tag_name': 'MakeSnapshot',
    'tag_value': 'True',

    # tag_type 'volume' will cause individual volumes that match the above tag
    # to be snapshotted.
    # tag_type 'instance' will cause volumes attached to running instances that
    # match the above tag to be snapshotted.
    'tag_type': 'volume',

    # Number of snapshots to keep (the older ones are going to be deleted,
    # since they cost money).
    'keep_day': 5,
    'keep_week': 5,
    'keep_month': 11,

    # Path to the log for this script
    'log_file': '/tmp/makesnapshots.log',

    # ARN of the SNS topic (optional)
    #'arn': 'xxxxxxxxxx',

    # Proxy config (optional)
    #'proxyHost': '10.100.x.y',
    #'proxyPort': '8080'
}
